@model Brand;
<form method="post" class="row">
    <div class="border p-3 mt-4">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2>Додати вирробника</h2>
                <hr />
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Website" class="p-0"></label>
            <input asp-for="Website" class="form-control" />
        </div>
         <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-dark form-control">Додати</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Admin" asp-action="ListDisciplines" class="btn btn-outline-dark border form-control">
                    До списку виробників
                </a>
            </div>
        </div>
    </div>
</form>
