@using STO.DataTransferObjects;
@model EditUserDto;
<form method="post" class="row">
    <div class="border p-3 mt-4">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2>Додавання корисьтувача</h2>
                <hr />
            </div>
        </div>
        <div asp-validation-summary="All"></div>

        <div class="mb-3 row p-1">
            <label class="p-0">Оберіть дисципліну зі списку</label>
            <select asp-for="@Model.user.PersonId" class="form-control"
                    asp-items="@Model.PersonList" id="discipline_ddl">
            </select>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="user.Login" class="p-0"></label>
            <input asp-for="user.Login" class="form-control" />
            <span asp-validation-for="user.Login" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="user.Password" class="p-0"></label>
            <input asp-for="user.Password" class="form-control" type="password" />
        </div>
         <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-dark form-control">Створити</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Admin" asp-action="ListUsers" class="btn btn-outline-dark border form-control">
                    До списку клористувачів
                </a>
            </div>
        </div>
    </div>
</form>
